<footer id="footer">
    <div class="container-fluid">
        <h6>
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script>
            - Company Name
        </h6>
        <div class="container d-flex justify-content-center icons">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-4 d-flex justify-content-center icons"><a
                        href="https://www.instagram.com/"> <i class="fab fa-instagram"></i></a></div>
                <div class="col-md-12 col-sm-12 col-lg-4 d-flex justify-content-center icons"><a
                        href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a></div>
                <div class="col-md-12 col-sm-12 col-lg-4 d-flex justify-content-center icons"><a
                        href="https://www.gmail.com/"><i class="fas fa-envelope"></i></a></div>
            </div>
        </div>
    </div>
</footer>

<script src="js/art-form.js"></script>