<section id="title">
    <!--Header-->

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-default fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand d-lg-none" href="#"><img src="images/logo.png" width="100" height="50"></a>
                <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#nav">
                    <span class="navbar-toggler-icon"> </span>
                </button>

                <div class="collapse navbar-collapse" id="nav">
                    <div class="container-fluid">
                        <ul class="navbar-nav d-flex justify-content-around">
                            <li class="nav-item">
                                <a class="nav-link" href="/artform">Art-forms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#footer">Contact Us</a>
                            </li>
                            <a class="d-none d-lg-block" id="head-img" href="/"><img src="images/logo.png" width="100px"
                                    height="70px"></a>
                            <!-- <li>
                                    <a class="nav-link" href="index.html">Home</a>
                                </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="/index#newsletter">Newsletter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>